html {
    font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
    font-family: "Gowun Batang", serif;
}

section.news,
section.results,
section.what {
    padding: 2vh 0;
    margin: 0 10vw;
}

/* Topo */
header {
    padding: 4vh 10vw 4vh 10vw;
}

header nav ul {
    display: none;
    gap: 20px;
    font-size: .8rem;
}

section.aviso {
    background: #F6F0E4;
    padding: 2vw 5vh;
    margin: 0 10vw;
    text-align: center;
    border-radius: 6px;
}

section.aviso a {
    text-decoration: underline;
}

section.banner {
    text-align: center;
    padding: 2vh 0;
    margin: 0 10vw;
}

section.banner h1 {
    font-size: 2.5rem;
    margin: 8vh 0;
}

section.banner a {
    text-decoration: underline;
}

section.news {
    padding: 2vh 0;
    margin: 0 10vw;
    text-align: center;
}

section.news h2 {
    font-size: 1.6rem;
    margin-bottom: 5vh;
}

section.news ul {
    font-size: .7rem;
}

section.news ul li {
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    padding: 4vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

section.news ul li h3 {
    font-size: 1.2rem;
}

section.news ul li h4 {
    font-size: 0.9rem;
}


section.news ul li:not(:first-of-type) {
    margin-top: 2vh;
}


section.news ul li img {
    width: 70%;
}

section.results h2 {
    font-size: 2rem;
    margin: 2vh 0;
}

section.results>p {
    color: #5B5B5B;
}

section.results h3 {
    margin: 2vh 0;
    color: #3D1A0D;
    font-size: .9rem;
}

section.results ul li {
    border-left: 1px solid #E4E4E4;
    padding: 0 0 2vh 2vw;
    margin: 1vh 0;
}

section.join {
    height: auto;
    background: url(../images/class.png) no-repeat;
    background-size: 100% auto;
    padding: 5vw 10vw 5vw 10vw;
}

section.join h2 {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.302);
    border-radius: 10px;
}


section.join h2 a {
    text-decoration: underline;
}

section.what {
    text-align: center;
    
}

@media only screen and (min-width: 600px) {
    header nav>a {
        display: none;
    }

    header nav ul {
        display: flex;
    }

    section.news ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    section.news ul li {
        width: 30%;
        align-items: center;
    }

    section.what ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vh 2vw;
    }

    section.what ul li {
        width: 30%;
    }
}